{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<div class="card card-fill">
		<div class="card-body">
			<div class="my-8 mx-auto" style="width: 480px;">
				<h1 class="text-center mb-4 fs-4">Réinitialiser le mot de passe</h1>
				<p class="text-lg mb-4 text-center text-muted">Pour réinitialiser votre mot de passe, veuillez saisir votre email ci-dessous. Un email vous sera envoyé avec la procédure de réinitialisation.</p>
				{{ form_start(formView) }}
				{{ form_errors(formView) }}
				<div class="row">
					{{ form_row(formView.email) }}
				</div>
				<button type="submit" class="btn btn-md btn-dark">
					<span>Envoyer un e-mail de réinitialisation</span>
				</button>
				{{ form_end(formView) }}
				<div class="text-center mt-4">
					<span class="text-muted">
						Vous souvenez-vous de votre mot de passe&nbsp;?
						<u>
							<a href="{{ path('security_login') }}" class="text-decoration-none">Se connecter</a>
						</u>
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
