{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="card card-fill">
		<div class="card-body">
			<div class="my-8 mx-auto w-100">
				<h1 class="text-center mb-4 fs-4">S'incrire à l'application SymBook</h1>
				{{ form_errors(registrationForm) }}
				{{ form_start(registrationForm) }}
				<div class="row">
					<div class="col-md-6">
						{{ form_row(registrationForm.email, {'attr': {'class': 'form-control-login'}}) }}
						{{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control-login'}}) }}
						{{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control-login'}}) }}
					</div>
					<div class="col-md-6">
						{{ form_row(registrationForm.plainPassword) }}
						{{ form_row(registrationForm.adress) }}
						<div class="row">
							<div class="col-md-6">
								{{ form_row(registrationForm.postalCode) }}
							</div>
							<div class="col-md-6">
								{{ form_row(registrationForm.city) }}
							</div>
						</div>
						{{ form_row(registrationForm.phone) }}
                        {{ form_row(registrationForm.dateofbirth) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center mt-4">
		<span class="text-muted d-flex">
			{{ form_row(registrationForm.agreeTerms, {
                			label : 'En m\'inscrivant à ce site, j\'accepte les <a href="'~path('homepage')~'">conditions générales d\'utilisation</a>',
                			label_html: true
            				}) }}
						</span>
					</div>
					<button type="submit" class="btn btn-md btn-dark">
						<span>S'enregistrer</span>
					</button>
	{{ form_end(registrationForm) }}
		{% endblock %}
