{{ form_start(form) }}
{{ form_row(form.q) }}
<h4>Catégories</h4>
{{ form_row(form.categories) }}
<h4>Auteurs</h4>
{{ form_row(form.author) }}

<button class="btn btn-outline-success w-100 mt-3">Filtrer</button>
{{ form_end(form) }}
